
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

body {
    min-height: 100vh;
    width: 100%;
    background-color: #99c089;
}

@font-face {
    font-family: calci;
    src: url(digital-7.ttf);
 }

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #575757;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 430px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border-bottom: 12px solid #424242;
}

.display
{
    background-color: white;
    padding: 12px 24px;
    border-radius: 14px;
    font-size: 48px;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 6px solid #49484b;
    box-shadow: 0px -2px 6px #49484b;
    margin-bottom: 26px;
    font-family: calci;
}

.buttonStyle
{
font-family: 'Poppins', sans-serif;
padding: 8px 20px;
font-size: 26px;
border-radius: 8px;
margin-bottom: 8px;
border: none;
width:80px;
box-shadow: 0px -2px 6px #49484b;
}

.buttonStyle:hover
{
padding: 8px 20px;
font-size: 25px;
border-radius: 8px;
margin-bottom: 8px;
border: none;
width:80px;
box-shadow: 2px -2px 2px #49484b inset;
}


#specialColor{
    background-color: #f5a34d;
    color: white;
}
#specialColor{
    background-color: #ee993e;
    color: white;
}
.set1{
    display: flex;
    justify-content: space-between;
}

.buttonSet{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


