*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #81d1ef !important;
    text-align: center !important;
}
h1{
    padding: 20px;
}
.btnStyle{
    padding: 24px 12px;
    font-size: 26px;
    font-weight: 400;
    width: 180px;
}
.box{
    background-color: #1d1c3f;
width: 250px;
height: 600px;
padding: 40px;
border-radius: 4rem;
}

.light{
    background-color: #494e66;
    width: 140px;
    height:140px;
    padding: 20px;
    border-radius: 8rem;
}